<h1 class="title">World of Avitis</h1>



<div>
    Avinis is fairly standard, high-fantasy Dungeons and Dragons world. Magic exists, but it's not widely practiced. The world is dangerous, but adventurers make a job of delving into forgotten dungeons and dangerous temples. The gods of the Egyptian Pantheon are undeniably real. They grant power to their followers and show up to interact with mortals - an occurrence that is rare, but not unheard of. Instead of a whole multiverse of planes to visit, there is only the Duat - the underworld - through which Ra travels each night during his cycle of the sun. The duat is separated into the 12 hours of night, many of which share similarities with traditional D&D planes. Travel to and from the Duat is extremely difficult and often requires a very rare and very powerful magical item.
    <img src="/images/world.jpg" alt="World map" id="worldMap" />
    <p>The Kingdom of Dostearan spans most of the west coast. The king resides in the capital, appropriately named Dostearan. The major trade port Warsteep lies to the south with Laristal to the east of that. Each major city and its surrounding are ruled by a noble, though of course they are all subject to the king's edicts.
    <br />The weather in Dostearan is currently {{dostearan}}.
    <br />The weather in Warsteep is currently {{warsteep}}.
    <br />The weather in Laristal is currently {{laristal}}.
    </p>
    <p>The city-state of Aldurn is nestled in the mountains, but patrols the surrounding countryside. It is ruled by the six noble houses who each control their own section of the town. Cartol is technically independent from Aldurn, but they maintain a close relationship since Aldurn keeps the countryside safe from marauders. Cartol is known as the city of golems on account of the guardians the founders of the city created to protect the town and its residents.
    <br />The weather in Aldurn is currently {{aldurn}}.
    <br />The weather in Cartol is currently {{cartol}}.
    </p>
    <p>The adventure of Gulak's Angels began in the province of Laristal, when the town was preparing for the king's imminent arrival to celebrate his daughter's birthday. Many strange things were afoot, from kobold and centaur sightings to vanishing lumberjacks.</p>
</div>